<ion-content class="speaker-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
      </ion-buttons>
      <ion-buttons *ngIf="books" slot="end">
        <ion-button (click)="openSpeakerShare(speaker)">
          <ion-icon slot="icon-only" ios="share-outline" md="share-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="speaker-background">
    <img [src]="books?.profilePic" [alt]="books?.name">
    <h2 style="color: black;">{{books?.name}}</h2>
  </div>

  <div class="ion-padding speaker-detail">
    <h2 style="font-size: large; font-weight: bold;">Contents|</h2>
    <hr>

  <div *ngFor="let chapter of books?.chapters">
    <p style="cursor: pointer;"
    routerLink=""
    
    >{{chapter.title}}</p>
  </div>


  </div>
</ion-content>
