<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon *ngIf="!isFavorite" slot="icon-only" name="star-outline"></ion-icon>
        <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="padding-top:0; white-space: pre-wrap;">
  <div *ngIf="session" class="ion-padding">

    <!-- song title -->
    <h1>{{session.name}}</h1>
    <br />
    <ion-text class="key">
      {{session.key}}
      <br />
    </ion-text>

    <!--song description-->
    <p class="description">{{session.description}}</p>

    <p>Category:
    <!--song category-->
    <span *ngFor="let track of session?.tracks" [class]="'session-track-'+track.toLowerCase()">{{track}}</span>
    </p>

  </div>
</ion-content>
